html, body {
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

.searchForm {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  padding: 3px;
  background-color: #ffff;
  height: 45px;
  width: 30%;
  margin: auto;
  cursor: pointer;
}

.searchForm>.searchIcon {
  font-size: 30px;
  margin-left: auto;
}

.searchForm>.searchIcon :hover {
  color: rebeccapurple;
}




@media (max-width: 884px) {
  .searchForm {
    width: 40%;
    max-width: unset;
    /* display: none; */
  }
  .searchForm>.searchIcon {
    font-size: 30px;
    margin: auto;
  }
  
  .searchForm input {
    width: 100%;
  }

  .container-fluid{
    padding: 20px 0;
  }

  .row{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  display: none;
}

.container-fluid i{  
  font-size: 24px;
}

.container-fluid h5{  
  margin-top: 5px;
}

  .container-fluid button{  
    margin: 20px;
    padding: 20px;
  }

  .row{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
}

@media (max-width: 834px) {
  .searchForm {
    width: 40%;
    max-width: unset;
    /* display: none; */
  }

  .searchForm>.searchIcon {
    font-size: 25px;
    margin-left: auto;
  }
  

  .searchForm input {
    width: 100%;
  }

  .container-fluid{
    padding: 20px 0;
  }

  .row{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  display: none;
}

.container-fluid i{  
  font-size: 24px;
}

.container-fluid h5{  
  margin-top: 5px;
}

  .container-fluid button{  
    margin: 20px;
    padding: 20px;
  }

  .row{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .searchForm {
    width: 50%;
    max-width: unset;
    display: none;
  }

  .searchForm input {
    width: 100%;
  }

  .container-fluid{
    padding: 20px 0;
  }

  .row{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  display: none;
}

.container-fluid i{  
  font-size: 24px;
}

.container-fluid h5{  
  margin-top: 5px;
}

  .container-fluid button{  
    margin: 15px;
    padding: 15px;
  }

  .row{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .searchForm {
    width: 40%;
    flex-direction: column;
    display: none;
  }

  .searchForm input {
    width: 50%;
  }

  .container-fluid{
    padding: 20px 0;
    opacity: 20px;
  }

  .row{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  display: none;
}

.container-fluid i{  
  font-size: 24px;
}

.container-fluid h5{  
  margin-top: 5px;
}

  .container-fluid button{  
    margin: 6px;
    padding: 6px;
  }

  .row{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
}

/* @media (max-width: 480px)  {
  .searchForm {
    display: none;
  }

  .container-fluid{
    padding: 20px 0;
  }

  .row{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
}

.container-fluid i{  
  font-size: 24px;
}

.container-fluid h5{  
  margin-top: 5px;
}

  .container-fluid button{  
    margin: 6px;
    padding: 6px;
  }

  .row{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
} */

/* @media (max-width: 197px)  {
  .searchForm {
    display: none;
  }

} */
